@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Raleway;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

li {
  list-style-type: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://assets.codepen.io/6060109/ZigZag.png");
}

.panel {
  max-width: 350px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 40px 40px -20px #3c7b61;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  margin: 1vw;
  height: 550px;
}

.panel > * {
    margin: 10px 0;
}

.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 23px;
  height: 23px;
}

.food-happy {
  width: 109px;
  height: 110px;
}

.confirmation {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;

  color: #2f463d;
}

.panel p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* or 186% */
  text-align: center;

  width: 80%;

  /* Gray 3 */
  color: #828282;
}

.pic-name-price {
  width: 80%;
  display: flex;
  align-items: center;
  background: #f0fff5;
  border-radius: 5px;
}

.pic-name-price a {
    margin-right: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    text-decoration-line: underline;
  
    color: #467a66;
}

.name-price {
    margin: 0 20px;
}
.name-price h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #2f463d;
}

.name-price h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #7a8f85;
}

.proceed {
    background: #46a67e;
}

.dots {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  position: absolute;
  bottom: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 10px;
}

.gray {
  background: #f2f2f2;
}

.green {
  background: #67bd99;
}

.next {
  background: #bdbdbd;
  
  
}

.confirm-button {
    box-shadow: 0px 20px 20px rgba(167, 167, 167, 0.2);
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
    padding: 10px 0;
    width: 80%;
    text-align: center;
    width: 80%;
  
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    bottom: 60px;

}


@media only screen and (min-width: 1001px) {
    .mobile:hover {
        transform: scale(1.1);
    }
  }


@media only screen and (max-width: 1000px) {
  .desktop {
    display: none;
  }
}
