@font-face {
    font-family: myFirstFont;
    src: url(Satoshi-Variable.ttf);
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: black;
    font-family: myFirstFont;
}

h1 {
    background: linear-gradient( 90deg, rgb(189, 16, 195), rgb(205, 21, 144) 29%, rgb(210, 23, 126) 58%, rgb(243, 163, 163));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.polaroid {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 40px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    width: 40vw;
    border-radius: 20px;
}

.polaroid img {
    width: 35vw;
    height: 28vw;
    border-radius: 10px;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 15px 0;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 15vw;
    }
    .container {
        justify-content: center;
    }
    .polaroid {
        width: 300px;
        padding: 10px;
        margin: 20px 0;
    }
    .polaroid img {
        width: 280px;
        height: 224px;
    }
}