html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    padding: 2vw;
    background: rgb(255, 255, 255);
    background: linear-gradient( 180deg, white 0%, #728FE8 75%, white 100%);
    font-family: "Dosis", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    align-items: center;
}

.header h1 {
    font-family: "Irish Grover";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #ffa333;
    margin: 0 10px;
}

.header img {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.title {
    font-family: "Dosis";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 3rem;
    grid-area: title;
}

.footer {
    border-top: 4px solid #215db8;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "opt1 opt2" "opt3 opt4" "copyright copyright";
}

.footer p {
    font-family: "Dosis";
    font-style: normal;
    font-weight: 400;
    padding: 10px 0;
}

.copyright {
    grid-area: copyright;
    text-align: center;
}

.opt1 {
    grid-area: opt1;
}

.opt2 {
    grid-area: opt2;
    display: flex;
    justify-content: right;
}

.opt3 {
    grid-area: opt3;
}

.opt4 {
    grid-area: opt4;
    display: flex;
    justify-content: right;
}

.outer {
    width: 88vw;
    display: flex;
    align-items: center;
    padding-top: 1vw;
    flex-direction: column;
    height: 80vw;
}

.inner {
    position: relative;
}

.rating-background {
    background-color: black;
    opacity: .5;
}

.inner p {
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
    bottom: .5em;
    left: .25em;
    position: absolute;
    padding: 0 2px;
    font-size: 1.5em;
    font-weight: 800;
    border-radius: .25vw;
}

.inner img {
    width: 80vw;
    height: 60vw;
    object-fit: cover;
    border-radius: 5px;
    border: 4px solid white;
}

.outer p {
    z-index: 2;
}

.caption {
    position: relative;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;

}*/

.caption {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
}

@media only screen and (max-width: 768px) {
    .centering-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title {
        margin-bottom: 10vw;
    }
}

@media only screen and (min-width: 769px) {
    .desktop .centering-container {
        display: flex;
        flex-wrap: wrap;
    }
    .title {
        margin-bottom: 2vw;
    }
    .footer {
        width: 99%;
    }
    .inner img {
        width: 28vw;
        height: 24vw;
    }
    .outer {
        width: 30vw;
        height: 32vw;
    }
    .caption {
        width: 30vw;
    }
}