html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    padding: 3vw;
    background: rgb(255, 255, 255);
    background: #212212;
    height: 100vh;
    font-family: "Signika";
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header h1 {
    font-family: "Pacifico";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */
    color: #5f72be;
    margin: 0 10px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 14px;
    margin: 14px 0;
}

ul {
    margin-top: 20px;
}

.centering-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 15vw);
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0;
    margin-bottom: 2vw;
    height: 1vw;
}

.footer p {
    font-family: "Signika";
    font-style: normal;
    font-weight: 500;
    font-size: 2.2vh;
    line-height: 1vw;
    color: #ffffff;
}