html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    padding: 3vw;
    background: rgb(255, 255, 255);
    background: #212212;
    height: 100vh;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header h1 {
    font-family: "Pacifico";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */
    color: #5f72be;
    margin: 0 10px;
}

.divider {
    height: 4px;
    background: linear-gradient(30deg, #ca34d7 0%, #5f72be 50%, #ca34d7 100%);
    margin: 2vw 0;
}

.centering-container {
    display: flex;
    justify-content: center;
}

.cta {
    background: linear-gradient(180deg, #5f72be 0%, rgba(153, 33, 232, 0) 100%);
    border-radius: 14px;
    font-family: "Signika";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
    text-align: center;
    width: 75vw;
    padding: 1vw 0;
    margin: 2vw;
}

.polaroid img {
    width: 80vw;
    height: 45vw;
    object-fit: cover;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 4px;
}

.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption h3 {
    font-family: "Signika";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 1vw;
}

.row-header {
    font-family: "Signika";
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* identical to box height */
    color: #ffffff;
    margin: 2vw 0;
    font-size: 6vw;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0;
    margin-bottom: 2vw;
}

.footer p {
    font-family: "Signika";
    font-style: normal;
    font-weight: 500;
    font-size: 2.2vh;
    line-height: 1vw;
    color: #ffffff;
}

h3 .active {
    color: green;
}

.active img {
    border-top: green;
    border-left: green;
}

@media only screen and (max-width: 768px) {
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .polaroid {
        margin-bottom: 4vw;
    }
    .row-header {
        margin: 6vw 0;
    }
}

@media only screen and (min-width: 769px) {
    .row {
        display: flex;
        justify-content: space-between;
    }
    .polaroid {
        margin: 2.5vw 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 22vw;
    }
    .polaroid img {
        width: 22vw;
        height: 12.375vw;
    }
    .caption {
        width: 100%;
    }
    footer {
        margin-top: 4vw;
        width: 95vw;
    }
    .row-header {
        font-size: 3vw;
    }
}