html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    padding: 3vw;
    background: rgb(255, 255, 255);
    background: #212212;
    height: 100vh;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header h1 {
    font-family: "Pacifico";
    font-style: normal;
    font-weight: 400;
    font-size: 6vh;
    line-height: 50px;
    /* identical to box height */
    color: #5f72be;
    margin: 0 10px;
}

.divider {
    width: 100%;
    height: 4px;
    background: linear-gradient(30deg, #ca34d7 0%, #5f72be 50%, #ca34d7 100%);
    margin: 2vw 0;
}

.centering-container {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0;
    width: 100%;
}

.footer p {
    font-family: "Signika";
    font-style: normal;
    font-weight: 500;
    font-size: 2.4vh;
    line-height: 1vw;
    color: #ffffff;
}

.left-half img {
    object-fit: cover;
    width: 100%;
    height: 40vh;
}

.right-half {
    font-family: "Signika";
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 4.5vw;
    color: #ffffff;
    position: relative;
}

.right-half p {
    font-size: 3vw;
}

h2 {
    font-family: "Signika";
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 4.5vw;
    color: #ffffff;
    margin: 1vw 0;
}

.watch-now {
    background: linear-gradient(180deg, #5F72BE 0%, rgba(153, 33, 232, 0) 100%);
    border-radius: 14px;
    padding: 1vw;
    margin: 5vw 0;
    text-align: center;
    width: 100%;
}

.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption h3 {
    font-family: "Signika";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 22px;
    color: #ffffff;
    margin: 10px 0;
}


.copyright {
    text-align: center;
    color: white;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (min-width: 769px) {
    footer {
        margin-top: 4vw;
    }
    .desktop {
        display: flex;
        flex-direction: row;
        width: 90vw;
    }
    .left-half {
        width: 60vw;
    }
    .left-half img {
        width: 59vw;
        height: 60vh;
    }
    .right-half {
        width: 52vw;
        margin: 0 2vw;
    }
    .right-half p {
        font-size: 2.4vh;
        line-height: 2.5vh;
    }
    .watch-now {
        position: absolute;
        bottom: 0;
    }
}